body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: auto;
}

#drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  height: 200px;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: slategray;
  cursor: pointer;
  margin: auto;
}

#file-input {
  display: none;
}

button {
    margin: 4%;
    padding: 1rem;
    font-size: large;
}

table, table * {
  margin: auto;
  border-collapse: collapse;
  border: 1px black solid;
}

table {
    width: clamp(max(50%, 400px), 750px, 100%);
}